<div class="pagetitle">
    <h1>List Obat/ VItamin</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Obat/ Vitamin</li>
        </ol>
    </nav>
</div><!-- End Page Title -->