<div class="pagetitle">
    <h1>List Dokter</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Data Dokter</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<div class="row row-cols-auto gap-2 justify-content-between">
    <div class="card col p-0" style="max-width:450px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/assets/img/image.png"
                     class="card-img img-fluid rounded-start"
                     alt="image"
                     style="object-fit: cover; width: 100%; height: 100%; border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div style="margin-bottom:16px">
                        <h2 class="card-title"
                            style="margin-bottom:0; padding-bottom:0; font-size:24px; font-weight:600">
                            dr. Intan Mutiara
                        </h2>
                        <p class="card-text"><small>Spesialis anak | 5 Tahun</small></p>
                        <p class="card-text" style="margin:0"><b>RS Mitra - Bekasi</b></p>
                        <p class="card-text" style="margin:0"><b>RS Mitra - Bekasi</b></p>
                    </div>

                    <a href="#"><small><u>Info lebih lengkap...</u></small></a>
                    <hr />

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary">Buat Janji</button>
                        <button class="btn btn-outline-primary">Chat</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


     

</div>


