<div>Login</div>


@*<div class="modal-header">
    <h3 class="modal-title">Login</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form class="row g-3 needs-validation" novalidate id="form-login">

        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <div class="input-group has-validation">
                <input type="email" name="email" class="form-control" id="email" required>
                <div class="invalid-feedback">Please enter your email.</div>
            </div>
        </div>

        <div class="col-12">
            <label for="yourPassword" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="yourPassword" disabled placeholder="password">
            <div class="invalid-feedback">Please enter your password!</div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
        <div class="col-12">
            <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
        </div>
    </form>
</div>*@

@*<script>
    $("#form-login").click(function(){
        let username = sessionStorage.getItem("username");
        console.log(username);
    })
</script>*@
